<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'analysis.technical' %}active{% endif %}" href="{{ url_for('analysis.technical') }}">Teknisk analyse</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'analysis.prediction' %}active{% endif %}" href="{{ url_for('analysis.prediction') }}">Pris prediksjon</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'analysis.ai_analysis' %}active{% endif %}" href="{{ url_for('analysis.ai') }}">AI-analyse</a>  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'analysis.market_overview' %}active{% endif %}" href="{{ url_for('analysis.market_overview') }}">Markedsoversikt</a>
  </li>
</ul>